body {
background: #fff;
padding: 0px;
margin: 0px;
font-family: sans-serif;
font-size: 16px;
background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(view-slider-slide.jpg);
background-size: cover;
}

 form{
margin_top: 0px;
transition: all 4$ ease-in-out;
}

.contact-title {
	margin-top: 10px;
	color: #fff;text-transform: uppercase;
	transition: all 4$ ease-in-out;
}
.contact-form{
	margin-top: auto;
width: 700px;
height: 760px;
background: #000000;
color: bisque;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
padding: 70px 50px;

}

.contact-form h1 {
margin: 0;
padding: 40 40 20px;
text-align: center;
font-size: 42px;
color: teal;
}


.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 26px;
	margin-bottom: 16px;
	margin-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.alert{
  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
}